.histoire{

    background-color: #fff9f0;
    text-align: center;
    justify-content: center;
}
.container{
    max-width: 70em;
}
.histoire blockquote{

}
.imgsize img{
    width: 50%;
    height: 50%;
}
h3 {
    line-height: 40px;
    font-size: 18px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
h3 span
{
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;

}
